
<style>
    .container {
        background-color: #000;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        width: 100%;
        text-align: center;
    }

    h1 {
        color: #fff;
        margin-bottom: 20px;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        margin: 10px;
        padding: 15px 22px;
        font-size: 22px;
        cursor: pointer;
        border: none;
        border-radius: 6px;
        background-color: #020063;
        color: #ffffff;
        transition: background-color 0.3s;
        width: 100%;
        height: 155%
    }

        button:hover {
            background-color: #002a42;
        }

    .button-icon {
        margin-right: 8px;
    }
</style>
<div class="container">
    <h1>Operador de RH</h1>
    <div class="button-container">
        <button onclick="showAddFuncionario()"><i class="fas fa-user-plus button-icon"></i>Adicionar Funcionário</button>
        <button onclick="showBuscarFuncionario()"><i class="fas fa-search button-icon"></i>Buscar Funcionário</button>
        <button onclick="showRelatorios()"><i class="fas fa-chart-bar button-icon"></i>Relatórios</button>
        <button onclick="showHistoricoAlteracoes()"><i class="fas fa-history button-icon"></i>Histórico de Alterações</button>
        <button onclick="showAprovarSolicitacoes()"><i class="fas fa-check button-icon"></i>Aprovar Solicitações</button>
        <button onclick="showEnviarComunicados()"><i class="fas fa-envelope button-icon"></i>Enviar Comunicados</button>
        <button onclick="emitirContrato()"><i class="fas fa-file-contract button-icon"></i>Emitir Contrato</button>
    </div>
</div>

<script>
    function showAddFuncionario() {
        window.location.href = "add_funcionario.html";
    }

    function showBuscarFuncionario() {
        window.location.href = "buscar_funcionario.html";
    }

    function showRelatorios() {
        window.location.href = "relatorios.html";
    }

    function showHistoricoAlteracoes() {
        window.location.href = "historico_alteracoes.html";
    }

    function showAprovarSolicitacoes() {
        window.location.href = "aprovar_solicitacoes.html";
    }

    function showEnviarComunicados() {
        window.location.href = "enviar_comunicados.html";
    }

    function emitirContrato() {
        window.location.href = "emitir_contrato.html";
    }
</script>

