@{
    ViewData["Title"] = "Pagina Inicial";
}
<style>

    h1 {
        color: #fff;
    }

    p{
        color: #fff;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Bem Vindos</h1>
    <p>Folha de Pagamento</p>
</div>
